CM_TOKEN = "Your bot token goes here"
CM_ADMIN_ROLE = "ID of the ADMIN role goes here (We recommend you configure these in the `json/config.json` for easily updating the fields in the future as they're not sensitive information)"
CM_BOT_CHANNEL = "ID of the botChannel goes here (We recommend you configure these in the `json/config.json` for easily updating the fields in the future as they're not sensitive information)"
CM_RULE_CHANNEL = "ID of the ruleChannel goes here (We recommend you configure these in the `json/config.json` for easily updating the fields in the future as they're not sensitive information)"
MONGODB_URI= "mongodb connection string"